<h1 id="education" class="title-justify">{{site.education_title}}</h1>
    <ul>
        <li>Bachelor's of Professional Studies in Applied Cybersecurity (SANS Technology Institute) - Expected Graduation: May 2024</li>
        <ul>
            <li>Activities: National Cyber League (NCL) Team Member</li>
        </ul>
        <br>
        <li>Cybersecurity Engineering Major (University of Alabama in Huntsville) - 2019-2022 (Transfer)</li>
        <ul>
            <li>Activities: UAH Cybersecurity Club President, Cyber Capture The Flag Team Member, Collegiate Cyber Defense Competition Team Captain</li>
        </ul>
    </ul>
<h1 id="certifications" class="title-justify">{{site.certifications_title}}</h1>
    <ul>
        <li>Currently studying for: GIAC Certified Incident Handler (GCIH)</li>
        <li>GIAC Security Essentials (GSEC)</li>
        <li>GIAC Information Security Fundamentals (GISF)</li>
        <li>GIAC Foundational Cybersecurity Technologies (GFACT)</li>
        <li>eLearnSecurity Junior Penetration Tester (eJPT)</li>
        <li>CompTIA Security+</li>
        <li>CompTIA Network+</li>
    </ul>
<h1 id="achievements" class="title-justify">{{site.achievements_title}}</h1>
    <ul>
        <li><a href="https://www.uscybergames.com/us-cyber-team">Season 2 US Cyber Team Member</a> (2022)</li>
        <li><a href="https://www.uah.edu/news/news/student-cyber-competition-team-is-fifth-of-120-competing-in-doe-contest">Department of Energy CyberForce Competition</a>: 5th place / 120 Teams (2021)</li>
        <li><a href="https://cyberinstitute.kennesaw.edu/seccdc/results.php">Southeast Collegiate Cyber Defense Competition (SECCDC)</a>: 1st in Service (2022)</li>
        <li><a href="/assets/pdf/Will Green - NCL Fall 2022 Team Game Scouting Report.pdf">National Cyber League (NCL) Team Game</a>: 4th Place / 3,900+ Teams (2022)</li>
        <li><a href="/assets/pdf/Will Green - NCL Fall 2022 Individual Game Scouting Report.pdf">National Cyber League (NCL) Individual Game</a>: 74th / 6,600+ Competitors (2022)</li>
    </ul>